{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">    
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Tamali tienda</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'Menu_principal' %}">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'facturas' %}">Factura</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'menu_cliente' %}">Cliente</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'menu_proveedor' %}">Proveedor</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'menu_producto' %}">Producto</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'Asistencia_contable' %}">Asistencia contable</a>
              </li>
              <li class="nav-item d-flex">
                <a class="nav-link" href="{% url 'crear_user' %}">Crear usuarios</a>
              </li>
            </ul>
            <form class="d-flex" action="{% url 'cerrar_secion' %}">
              <button class="btn btn-sm btn-danger">Cerrar seccion</button>
            </form>
          </div>
        </div>
      </nav>

      {% block content %}

      {% endblock %}
  
  </body>
</html>