{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Libro diario</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">    
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-2">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Tamali tienda</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'Menu_principal' %}">Inicio</a>
                </li>
                <li class="nav-item">
                <a class="nav-link active" href="{% url 'facturas' %}">Factura</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'Clientes' %}">Cliente</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'Provedores' %}">Proveedor</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'menu_producto' %}">Producto</a>
                </li>
                <li class="nav-item">
                <a class="nav-link disabled">Asistencia contable</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
              <button class="btn btn-outline-success" type="submit">Buscar</button>
            </form>
          </div>
        </div>
      </nav>

      <ul class="nav nav-tabs navbar-light bg-light justify-content-center">
        <li class="nav-item">
          <a class="nav-link disabled" aria-current="page">Libro diario</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'menu_libro_mayor' %}">Libro mayor</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'menu_cuenta' %}">Cuentas</a>
        </li>
      </ul>


    <div class="container">

            <div class="col-md-10">

                <h1 class="display-6">Libro diario</h1> 

                <div class="card card-body bg-secondary">

                    <form action="{% url 'cargar_libro_diario' %}" method="POST" autocomplete="off">

                      {% csrf_token %}

                      <div class="card card-body bg-dark mb-2">

                        <div class="row g-3 mb-2">

                          <div class="col-md-12">
                            <h2 class="form-label">Ingrese datos del asiento</h2>
                          </div>
                          <div class="col-md-4">
                            <input type="date" class="form-control" id="fecha_emision" name="fecha_emision" required>
                          </div>
                          <div class="col-md-4">
                            <input type="int" class="form-control" id="num_asiento" name="num_asiento" placeholder="Num. de asiento" required>
                          </div>
                          <div class="col-md-4">
                            <select id="num_cuenta" class="form-select" name="num_cuenta" required>
                              <option selected disabled value>Seleccione la cuenta</option>
                              {% for cuenta in cuentas %}
                              <option value={{cuenta.id}}>{{cuenta.descripcion}}</option>
                              {% empty %}
                              <h4 class="text-center">No hay cuenta</h4>
                              {% endfor %} 
                            </select>
                          </div>
                          <div class="col-md-6">
                            <input type="text" class="form-control" id="id_concepto" name="id_concepto" placeholder="Concepto" required>
                          </div>
                          <div class="col-md-2">
                            <select id="tipo_movimiento" class="form-select" name="tipo_movimiento" required>
                              <option selected disabled value>Tipo movimiento</option>
                              <option value=1>Debe</option>
                              <option value=2>Haber</option>
                            </select>
                          </div>
                          <div class="col-md-4">
                            <div class="input-group">
                              <span class="input-group-text">G</span>
                              <input type="int" class="form-control" id="id_monto" name="id_monto" placeholder="Ingrese monto del movimiento" required>
                              <span class="input-group-text">.00</span>
                            </div>
                          </div>

                          <div class="col-6">
                            <button type="submit" class="btn btn-success">Agregar asiento</button>
                          </div>
                          
                        </div>

                        {% if mensaje_error == 'Asiento ya existe.' %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                          {{mensaje_error}}
                          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>                       
                        {% elif mensaje_error == 'Asiento guardado!!' %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                          {{mensaje_error}}
                          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>   
                        {% elif mensaje_error == 'Asiento actualizado!!' %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                          {{mensaje_error}}
                          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>   
                        {% elif mensaje_error == 'Asiento no esta cargado.' %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                          {{mensaje_error}}
                          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>   
                        {% endif %}

                      </div>

                    </form>


                    <div class="card card-body bg-dark mb-2">

                      <div class="col-12">
                        <form action="{% url 'modificar_libro_diario' %}" method="POST" autocomplete="off">

                          {% csrf_token %}

                          <table class="table table-info table-striped table-bordered border-dark">
                            <thead>
                            <tr>
                              <th scope="col" style="width: 14%;">fecha</th>
                              <th scope="col" style="width: 0%;">Asiento</th>
                              <th scope="col" style="width: 55%;">Concepto.</th>
                              <th scope="col" style="width: 6%;">Cta.</th>
                              <th scope="col" style="width: 12%;">Debe</th>
                              <th scope="col" style="width: 12%;">Haber</th>
                              <th scope="col" style="width: 12%;">Option</th>
                            </tr>
                            </thead>
                            <tbody>

                              {% for libro in libros_diarios %}
                                <tr>
                                <td><input type="text" name="fecha_emision{{libro.id}}" class="form-control" value="{{ libro.fecha|date:'Y-m-d' }}"></td>
                                <td><input type="int" name="num_asiento{{libro.id}}" class="form-control" value="{{libro.num_asiento}}"></td>
                                <td><input type="text" name="id_concepto{{libro.id}}" class="form-control" value="{{libro.concepto}}"></td>
                                <td><input type="int" name="num_cuenta{{libro.id}}" class="form-control" value="{{libro.num_cuenta_id}}"></td>
                                <td><input type="int" name="monto_debe{{libro.id}}" class="form-control" value="{{libro.debe}}"></td>
                                <td><input type="int" name="monto_haber{{libro.id}}" class="form-control" value="{{libro.haber}}"></td>
                                <td>
                                  <button class="btn btn-sm btn-primary" name="id_libro" value="{{libro.id}}"><i class="fa fa-solid fa-pencil" ></i></button>
                                </td>
                                </tr>
                              {% empty %}
                                <td colspan="7">
                                  <h3 class="text-center">No hay asientos cargados</h3>
                                </td>
                              {% endfor %} 

                            </tbody>
                          </table>
                          
                        </form>

                        <nav aria-label="Page navigation example">
                          <ul class="pagination justify-content-center">
                            {% if libros_diarios.has_previous %}
                              <li class="page-item">
                                <a class="page-link" href="?page=1">&laquo; first</a>
                              </li>
                              <li class="page-item">
                                <a class="page-link" href="?page={{ libros_diarios.previous_page_number }}">previous</a>
                              </li>
                            {% endif %}
                        
                            <li class="page-item disabled">
                              <span class="page-link">Page {{ libros_diarios.number }} of {{ libros_diarios.paginator.num_pages }}</span>
                            </li>
                        
                            {% if libros_diarios.has_next %}
                              <li class="page-item">
                                <a class="page-link" href="?page={{ libros_diarios.next_page_number }}">next</a>
                              </li>
                              <li class="page-item">
                                <a class="page-link" href="?page={{ libros_diarios.paginator.num_pages }}">last &raquo;</a>
                              </li>
                            {% endif %}
                          </ul>
                        </nav>

                      </div>

                      <!--
                      <div class="row g-3">
                        <div class="col-12">
                          <input type="text" class="form-control bg-light" placeholder="Buscar..." name="factu_prduc[]">
                          <a class="btn btn-primary" href="{% url 'buscar_producto' %}">Buscar</a>
                        </div>
                      </div>
                      -->
                      <div class="col-12">

                        <form action="{% url 'descargar_libro' %}" method="POST">
                          {% csrf_token %}
                          <div class="col-2">
                            <input type="text" class="form-control" id="fecha_deseada" name="fecha_deseada" placeholder="AAAA-MM o AAAA" required>
                          </div>

                          <div class="col-4">
                            <button class="btn btn-primary">Descargar libro</a>
                          </div>

                          <div class="col-4">
                            <a class="btn btn-primary" href="{% url 'migrar_asientos' %}">Migrar</a>
                          </div>

                        </form>

                      </div>
                    
                    </div>
                                          
                </div>
            </div>    
            
        </div>
      </div>

    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/@docsearch/js@3"></script>
    <script src="https://cdn.jsdelivr.net/npm/@stackblitz/sdk@1/bundles/sdk.umd.js"></script>

  </body>
</html>