{% extends "Base.html" %} {% load static %}
<head>
  <title>{% block title %} Libro Mayor {% endblock %}</title>
</head>
<body>
  {% block content %}

  <div class="container">
    <div class="col-md-12">
      <h1 class="display-6">Libro mayor</h1>

      <div class="card card-body bg-secondary">
        <form
          action="{% url 'cargar_libro_mayor' %}"
          method="POST"
          autocomplete="off"
        >
          {% csrf_token %}

          <div class="card card-body bg-dark mb-2">
            <div class="row g-3 mb-2">
              <div class="col-md-12">
                <h2 class="form-label">Ingrese datos del movimiento</h2>
              </div>
              <div class="col-md-4">
                <input
                  type="date"
                  class="form-control"
                  id="fecha_emision"
                  name="fecha_emision"
                  required
                />
              </div>
              <div class="col-md-4">
                <input
                  type="int"
                  class="form-control"
                  id="num_asiento"
                  name="num_asiento"
                  placeholder="Num. de asiento"
                  required
                />
              </div>
              <div class="col-md-4">
                <select
                  id="num_cuenta"
                  class="form-select"
                  name="num_cuenta"
                  required
                >
                  <option selected disabled value>Seleccione la cuenta</option>
                  {% for cuenta in cuentas %}
                  <option value="{{cuenta.id}}">{{cuenta.descripcion}}</option>
                  {% empty %}
                  <h4 class="text-center">No hay cuenta</h4>
                  {% endfor %}
                </select>
              </div>
              <div class="col-md-6">
                <input
                  type="text"
                  class="form-control"
                  id="id_concepto"
                  name="id_concepto"
                  placeholder="Concepto"
                  required
                />
              </div>
              <div class="col-md-2">
                <select
                  id="tipo_movimiento"
                  class="form-select"
                  name="tipo_movimiento"
                  required
                >
                  <option selected disabled value>Tipo movimiento</option>
                  <option value="1">Debe</option>
                  <option value="2">Haber</option>
                </select>
              </div>
              <div class="col-md-4">
                <div class="input-group">
                  <span class="input-group-text">G</span>
                  <input
                    type="int"
                    class="form-control"
                    id="id_monto"
                    name="id_monto"
                    placeholder="Ingrese monto del movimiento"
                    required
                  />
                  <span class="input-group-text">.00</span>
                </div>
              </div>

              <div class="col-3">
                <button type="submit" class="btn btn-success">
                  Agregar movimiento
                </button>
              </div>

              <div class="col-6">
                {% if messages %}
                <ul class="messages">
                  {% for message in messages %}
                  <li
                    class="{% if message.tags == 'error' %}alert alert-danger {% elif message.tags == 'success' %}alert alert-success{% endif %}"
                    role="alert"
                  >
                    {{ message }}
                  </li>
                  {% endfor %}
                </ul>
                {% endif %}
              </div>
            </div>
          </div>
        </form>

        <form
          class="row g-3 mb-2"
          action="{% url 'menu_libro_mayor' %}"
          method="post"
        >
          {% csrf_token %}

          <div class="col-md-3">
            <select id="num_cuenta" class="form-select" name="num_cuenta">
              <option selected disabled value>Seleccione la cuenta</option>
              {% for cuenta in cuentas %}
              <option value="{{cuenta.id}}">{{cuenta.descripcion}}</option>
              {% empty %}
              <h4 class="text-center">No hay cuenta</h4>
              {% endfor %}
            </select>
          </div>

          <div class="col-md-2">
            <button type="submit" class="btn btn-primary">Filtrar</button>
          </div>
        </form>

        <form
          action="{% url 'modificar_libro_mayor' %}"
          method="POST"
          autocomplete="off"
        >
          {% csrf_token %}

          <table
            id="tabla_id"
            name="tabla_id"
            class="table table-info table-striped table-bordered border-dark"
          >
            <thead>
              <tr>
                <th scope="col" style="width: 14%">fecha</th>
                <th scope="col" style="width: 45%">Concepto.</th>
                <th scope="col" style="width: 0%">Asiento</th>
                <th scope="col" style="width: 12%">Debe</th>
                <th scope="col" style="width: 12%">Haber</th>
                <th scope="col" style="width: 12%">Saldo</th>
                <th scope="col" style="width: 12%">Opt.</th>
              </tr>
            </thead>
            <tbody>
              {% for libro in libros_mayores %}
              <tr>
                <td>
                  <input
                    type="text"
                    name="fecha_emision{{libro.id}}"
                    class="form-control"
                    value="{{ libro.fecha|date:'Y-m-d' }}"
                  />
                </td>
                <td>
                  <input
                    type="text"
                    name="id_concepto{{libro.id}}"
                    class="form-control"
                    value="{{libro.concepto}}"
                  />
                </td>
                <td>
                  <input
                    type="int"
                    name="num_asiento{{libro.id}}"
                    class="form-control"
                    value="{{libro.num_asiento}}"
                  />
                </td>
                <td>
                  <input
                    type="int"
                    name="monto_debe{{libro.id}}"
                    class="form-control"
                    value="{{libro.debe}}"
                  />
                </td>
                <td>
                  <input
                    type="int"
                    name="monto_haber{{libro.id}}"
                    class="form-control"
                    value="{{libro.haber}}"
                  />
                </td>
                <td>
                  <input
                    type="int"
                    name="saldo_cuenta{{libro.id}}"
                    class="form-control"
                    value="{{libro.saldo}}"
                    readonly
                  />
                </td>
                <td>
                  <button
                    class="btn btn-sm btn-primary"
                    name="id_libro"
                    value="{{libro.id}}"
                  >
                    <i class="fa fa-solid fa-pencil"></i>
                  </button>
                </td>
              </tr>
              {% empty %}
              <td colspan="8">
                <h3 class="text-center">No hay movimientos cargados</h3>
              </td>
              {% endfor %}
            </tbody>
          </table>
        </form>

        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            {% if libros_mayores.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page=1">&laquo; first</a>
            </li>
            <li class="page-item">
              <a
                class="page-link"
                href="?page={{ libros_mayores.previous_page_number }}"
                >previous</a
              >
            </li>
            {% endif %}

            <li class="page-item disabled">
              <span class="page-link"
                >Page {{libros_mayores.number}} of
                {{libros_mayores.paginator.num_pages}}</span
              >
            </li>

            {% if libros_mayores.has_next %}
            <li class="page-item">
              <a
                class="page-link"
                href="?page={{ libros_mayores.next_page_number }}"
                >next</a
              >
            </li>
            <li class="page-item">
              <a
                class="page-link"
                href="?page={{ libros_mayores.paginator.num_pages }}"
                >last &raquo;</a
              >
            </li>
            {% endif %}
          </ul>
        </nav>

        <form action="{% url 'descargar_libro_mayor' %}" method="post">
          {% csrf_token %}
          <div class="col-2">
            <input
              type="text"
              class="form-control"
              id="fecha_libro"
              name="fecha_libro"
              placeholder="AAAA-MM o AAAA"
              required
            />
          </div>

          <div class="col-4">
            <button class="btn btn-primary">Descargar libro</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/@docsearch/js@3"></script>
  <script src="https://cdn.jsdelivr.net/npm/@stackblitz/sdk@1/bundles/sdk.umd.js"></script>

  <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
  <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>

  {% endblock %}
</body>
