{% extends "Base.html" %}

{% load static %}
<head>
  <title>{% block title %} Factura {% endblock %}</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
</head>
<body>
  {% block content %}
  <div class="container">
  
    <div class="col-md-12">

      <h1 class="display-6">Modulo factura</h1> 

      <div class="card card-body bg-secondary">

        <form action="{% url 'factura_detalle' %}" method="post">
      
          {% csrf_token %}

          <div class="card card-body bg-dark mb-2">

            <div class="row g-3">

              <div class="col-md-2">
                <input type="text" class="form-control" id="metodo_pago" name="metodo_pago" value="{{factura_cabecera.metodo_de_pago.descripcion}}" readonly>
              </div>
              <div class="col-md-6">
              </div>
              <div class="col-md-2">
                <label for="fecha_emision" class="form-label">Fecha:</label>
                <input type="date" class="form-control" id="fecha_emision" name="fecha_emision" readonly>
              </div>
              <div class="col-md-2">
                <label for="tipo_factura" class="form-label">Tipo de factura</label>
                <input type="text" class="form-control" value="{{factura_cabecera.tipo_factura.estado}}" readonly>
              </div>
              

              <div class="col-2">
                <label for="ruc_cliente" class="form-label">RUC</label>
                <input type="text" class="form-control" value="{{factura_cabecera.cliente.RUC}}" readonly>
              </div>
              <div class="col-md-3">
                <label for="razon_social" class="form-label">Razon social</label>
                <input type="text" class="form-control" value="{{factura_cabecera.cliente.razon_social}}" readonly>
              </div>
              <div class="col-2">
              </div>
              <div class="col-md-3">
                <label for="num_factura" class="form-label">N° Factura</label>
                <div class="input-group mb-3">
                  <span class="input-group-text">009-0085- </span>
                  <input type="text" class="form-control" id="num_factura" name="num_factura" value="{{factura_cabecera.num_factura}}" readonly>
                </div>
              </div>
              <div class="col-md-2">
                <label for="timbrado_factura" class="form-label ">Timbrado:</label>
                <input type="text" class="form-control" value="{{factura_cabecera.timbrado}}" readonly>
              </div>
              
              <div class="col-6">
                <label for="direccion_cliente" class="form-label">Dirección</label>
                <input type="text" class="form-control" value="{{factura_cabecera.cliente.direccion}}" readonly>
              </div>
              <div class="col-md-3">
                <label for="correo_cliente" class="form-label">Correo:</label>
                <input type="text" class="form-control" value="{{factura_cabecera.cliente.correo}}" readonly>
              </div>
              <div class="col-md-3">
                <label for="num_telefono" class="form-label">Telefono:</label>
                <input type="text" class="form-control" value="{{factura_cabecera.cliente.num_telefono}}" readonly>
              </div>

              {% if messages %}
                <ul class="messages">
                  {% for message in messages %}
                    <li class="{% if message.tags == 'error' %}alert alert-danger
                    {% elif message.tags == 'success' %}alert alert-success{% endif %}" role="alert">
                      {{ message }}
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}

              <div class="col-md-3">
                <select id="cod_producto_id" name="cod_producto_id" required>
                  <option selected disabled value>selecione articulo a añadir</option>
                  {% for producto in productos %}
                  <option value={{producto.id}}>{{producto.cod_producto}}, {{producto.descripcion}}</option>
                  {% endfor %} 
                </select>
              </div>
              <div class="col-md-3">
                <button id="anhadir_producto" class="btn btn-sm btn-primary" name="id_producto">Agregar</button>
              </div>

            </div>
          </div>         
        
        </form>
        
        <div class="card card-body bg-light mb-2">

          <div class="col-12">

            <form action="{% url 'delete_factura' %}" method="post">
          
              {% csrf_token %}

              <table id="tabla_id" name="tabla_id" class="table table-striped bordered-dark table-secondary table-bordered">
                <thead>
                <tr>
                  <th scope="col" style="width: 3%;">Cod.</th>
                  <th scope="col" style="width: 50%;">Descripción</th>
                  <th scope="col" style="width: 2%;">Cant.</th>
                  <th scope="col" style="width: 10%;">IVA 10%</th>
                  <th scope="col" style="width: 10%;">Total</th>
                  <th scope="col" style="width: 2%;">Obs.</th>
                </tr>
                </thead>
                <tbody>
                  {% for factu in facturas_detalles %}
                  <tr>
                    <td>{{factu.cod_producto.cod_producto}}</td>
                    <td>{{factu.cod_producto.descripcion}}</td>
                    <td>{{factu.cantidad}}</td>
                    <td>{{factu.cod_producto.iva_producto}}</td>
                    <td>{{factu.total_precio}}</td>
                    <td>
                      <button class="btn btn-sm btn-danger" id="id_detalle" name="id_detalle" value="{{factu.id}}"><i class="fa fa-solid fa-trash-o"></i></button>
                    </td>
                  </tr>              
                  {% endfor %}
                  <tr>
                    <td colspan="3" style="text-align: right;">Total de compra</td>
                    <td>{{total_iva}}</td>
                    <td>{{total_compra}}</td>
                    <td></td>
                  </tr>
                </tbody>
              </table>                    
              
              <a id="finalizar_factura" class="btn btn-primary" href="{% url 'factura_libro' factura_cabecera.id %}">Finalizar</a>
              <a id="cancelar_factura" class="btn btn-danger" href="{% url 'cancelar_factura' factura_cabecera.id %}">Cancelar la facturacion</a>

            </form>
          </div>
        </div>

      </div>   
    </div>
  </div>
  
  <script src="{% static 'js/select2-producto.js' %}"></script>

  {% endblock %}
  
</body>
</html>