{% extends "Base.html" %} {% load static %}
<head>
  <title>{% block title %} Producto {% endblock %}</title>
</head>
<body>
  {% block content %}

  <ul class="nav nav-tabs navbar-light bg-light justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Producto</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Inventario</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Modificar producto</a>
    </li>
  </ul>

  <div class="container">
    <div class="col-md-12">
      <h1 class="display-6">Modulo producto</h1>

      <div class="card card-body bg-secondary">
        <form
          action="{% url 'cargar_roducto' %}"
          class="row g-3 mb-2"
          method="POST"
        >
          {% csrf_token %}

          <div class="col-ms-12">
            <label for="desc_producto" class="form-label">Cod. Producto:</label>
          </div>
          <div class="col-md-3">
            <input
              type="text"
              class="form-control"
              id="codigoproduct"
              placeholder="Cod. Producto"
              name="cod_producto"
              required
            />
          </div>

          <div class="col-md-3">
            <select
              id="marca_producto"
              class="form-select"
              name="marca_producto"
              required
            >
              <option selected>Seleciona la marca</option>
              {% for marca in marcas %}
              <option value="{{marca.id}}">{{marca.descripcion}}</option>
              {% empty %}
              <h4 class="text-center">No hay marcas</h4>
              {% endfor %}
            </select>
          </div>

          <div class="col-md-3">
            <select
              id="categoria_producto"
              class="form-select"
              name="cod_cateoria"
              required
            >
              <option selected>Seleccione la categoria</option>
              {% for categoria in categorias %}
              <option value="{{categoria.id}}">
                {{categoria.descripcion}}
              </option>
              {% empty %}
              <h4 class="text-center">No hay categoria</h4>
              {% endfor %}
            </select>
          </div>
          <div class="col-md-3">
            <select
              id="prov_producto"
              class="form-select"
              name="prov_producto"
              required
            >
              <option selected>Elige proveedor...</option>
              {% for proveedor in proveedores %}
              <option value="{{proveedor.id}}">
                {{proveedor.razon_social}}
              </option>
              {% empty %}
              <h4 class="text-center">No hay proveedor</h4>
              {% endfor %}
            </select>
          </div>

          <div class="col-md-5">
            <label for="desc_producto" class="form-label"
              >Detalle del producto</label
            >
            <input
              type="text"
              class="form-control"
              id="desc_producto"
              placeholder="Describir el producto"
              name="desc_producto"
              required
            />
          </div>
          <div class="col-md-2">
            <label for="precio_compra" class="form-label">Precio compra</label>
            <div class="input-group mb-3">
              <input
                type="text"
                class="form-control"
                id="precio_compra"
                placeholder="99999999"
                name="precio_compra"
                style="text-align: right"
                required
              />
              <span class="input-group-text">G</span>
            </div>
          </div>

          <div class="col-md-2">
            <label for="precio_venta" class="form-label">Precio venta</label>
            <div class="input-group mb-3">
              <input
                type="text"
                class="form-control"
                id="precio_venta"
                placeholder="99999999"
                name="precio_venta"
                style="text-align: right"
                required
              />
              <span class="input-group-text">G</span>
            </div>
          </div>
          <div class="col-md-2">
            <label for="tipo_factura" class="form-label">Tipo IVA</label>
            <select
              id="tipo_factura"
              class="form-select"
              name="tipo_factura"
              disabled
            >
              <option value="0.1">IVA 10%</option>
              <option value="0.05">IVA 5%</option>
            </select>
          </div>
          <div class="col-md-1">
            <label for="cant_product" class="form-label">Catidad</label>
            <input
              type="int"
              class="form-control"
              id="cant_product"
              name="cantidad_producto"
              required
            />
          </div>

          <div class="col-12">
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </form>

        {% if mensaje_error == 'Producto ya existe.' %}
        <div class="alert alert-danger" role="alert">{{mensaje_error}}</div>
        {% elif mensaje_error == 'Producto guardado!!' %}
        <div class="alert alert-success" role="alert">{{mensaje_error}}</div>
        {% endif %}
      </div>
    </div>
  </div>

  <script src="{% static 'js/modals/modals.js' %}"></script>

  {% endblock %}
</body>
