{% extends "Base.html" %}

{% load static %}
<head>
  <title>{% block title %} Factura {% endblock %}</title>
</head>
<body>
  {% block content %}
  <div class="container">
  
    <div class="col-md-10">

      <h1 class="display-6">Modulo factura</h1> 

      <div class="card card-body bg-secondary">

        <form action="{% url 'cargar_factura_detalle' %}" method="POST">
      
          {% csrf_token %}

          <div class="card card-body bg-dark mb-2">

            <div class="row g-3">

              <div class="col-md-2">
                <input type="text" class="form-control" id="metodo_pago" name="metodo_pago" value="{{factura_cabecera.metodo_de_pago.descripcion}}" readonly>
              </div>
              <div class="col-md-6">
              </div>
              <div class="col-md-2">
                <label for="fecha_emision" class="form-label">Fecha:</label>
                <input type="date" class="form-control" id="fecha_emision" name="fecha_emision" readonly>
              </div>
              <div class="col-md-2">
                <label for="tipo_factura" class="form-label">Tipo de factura</label>
                <input type="text" class="form-control" value="{{factura_cabecera.tipo_factura.estado}}" readonly>
              </div>
              

              <div class="col-2">
                <label for="ruc_cliente" class="form-label">RUC</label>
                <input type="text" class="form-control" value="{{factura_cabecera.cliente.RUC}}" readonly>
              </div>
              <div class="col-md-3">
                <label for="razon_social" class="form-label">Razon social</label>
                <input type="text" class="form-control" value="{{factura_cabecera.cliente.razon_social}}" readonly>
              </div>
              <div class="col-2">
              </div>
              <div class="col-md-3">
                <label for="num_factura" class="form-label">N° Factura</label>
                <div class="input-group mb-3">
                  <span class="input-group-text">009-0085- </span>
                  <input type="text" class="form-control" id="num_factura" name="num_factura" value="{{factura_cabecera.num_factura}}" readonly>
                </div>
              </div>
              <div class="col-md-2">
                <label for="timbrado_factura" class="form-label ">Timbrado:</label>
                <input type="text" class="form-control" value="{{factura_cabecera.timbrado}}" readonly>
              </div>
              
              <div class="col-6">
                <label for="direccion_cliente" class="form-label">Dirección</label>
                <input type="text" class="form-control" value="{{factura_cabecera.cliente.direccion}}" readonly>
              </div>
              <div class="col-md-3">
                <label for="correo_cliente" class="form-label">Correo:</label>
                <input type="text" class="form-control" value="{{factura_cabecera.cliente.correo}}" readonly>
              </div>
              <div class="col-md-3">
                <label for="num_telefono" class="form-label">Telefono:</label>
                <input type="text" class="form-control" value="{{factura_cabecera.cliente.num_telefono}}" readonly>
              </div>

              {% if messages %}
                <ul class="messages">
                  {% for message in messages %}
                    <li class="{% if message.tags == 'error' %}alert alert-danger
                    {% elif message.tags == 'success' %}alert alert-success{% endif %}" role="alert">
                      {{ message }}
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}


            </div>
          </div>         

          <select id="cod_producto_id" name="cod_producto_id">
            <option selected disabled value>seleciones</option>
            {% for producto in productos %}
            <option value={{producto.id}}>{{producto.cod_producto}}, {{producto.descripcion}}</option>
            {% endfor %} 
          </select>
          <button class="btn btn-sm btn-primary" name="id_libro">Agregar</button>



          <table name="tabla_id" class="table table-info table-striped table-bordered border-dark">
            <thead>
              <tr>
                <th scope="col">Cod.</th>
                <th scope="col">Descripción</th>
                <th scope="col">Cant.</th>
                <th scope="col">Prec. unit.</th>
                <th scope="col">Total</th>
                <th scope="col">Obs.</th>
              </tr>
            </thead>
            <tbody>
              {% for factu in facturas_detalles %}
              <tr>
                <td><input class="text" id="cod_producto_table" name="cod_producto" value="{{factu.cod_producto.cod_producto}}"></td>
                <td><input id="desc_producto" name="desc_producto" value="{{factu.cod_producto.descripcion}}"></td>
                <td><input id="cantidad_producto" name="cantidad_producto" value="{{factu.cantidad}}"></td>
                <td><input id="precio" name="precio" value="{{factu.cod_producto.precio_venta}}"></td>
                <td><input id="precio_total" name="precio_total" value="{{factu.total_precio}}"></td>
                <td>
                  <button class="btn btn-sm btn-primary" id="id_detalle" name="id_detalle" value="{{factu.id}}"><i class="fa fa-solid fa-pencil"></i></button>
                </td>
              </tr>              
              {% endfor %}
            </tbody>
          </table>                    
          
          <div class="col-12">
          <button type="submit" class="btn btn-primary">Facturar</button>
          </div>

        </form>

      </div>   
    </div>
  </div>
  
  <script src="{% static 'js/select2-producto.js' %}"></script>

  {% endblock %}
  
</body>
</html>