{% extends "Base.html" %} {% load static %}
<head>
  <title>{% block title %} Create users {% endblock %}</title>
</head>
<body>
  {% block content %}

  <div class="container">
    <div class="col-md-7 offset-md-2 mb-2 mt-5">
      <h1 class="display-6">Usuario</h1>

      <div class="card card-body bg-secondary">
        <form method="post">
          {% csrf_token %}

          <div class="row g-2">
            <div class="col-md-3 mb-2">
              <label for="username">User:</label>
              <input
                type="text"
                name="username"
                class="form-control"
                placeholder="username"
                required
              />
            </div>
            <div class="col-md-4 offset-md-1">
              <label for="nombre">Nombre:</label>
              <input
                type="text"
                name="nombre"
                class="form-control"
                placeholder="Fulano"
                required
              />
            </div>
            <div class="col-md-4">
              <label for="apellido">Apellido:</label>
              <input
                type="text"
                name="apellido"
                class="form-control"
                placeholder="De Tal"
                required
              />
            </div>

            <div class="col-12">
              <label for="password1">Contraseña:</label>
            </div>
            <div class="col-md-4 mb-2">
              <input
                type="password"
                name="password1"
                id="password1"
                class="form-control"
                placeholder="password"
              />
            </div>
            <div class="col-md-4">
              <input
                type="password"
                name="password2"
                id="password2"
                class="form-control"
                placeholder="confirm password"
              />
            </div>

            <div class="col-md-5">
              <label for="email">Corre:</label>
              <input
                type="email"
                name="email"
                class="form-control"
                placeholder="test@example.com"
              />
            </div>
            <div class="col-md-4 mb-2">
              <label for="rols">Rol del usaurio:</label>
              <select id="rols" class="form-select" name="rols" required>
                {% for rol in rols %}
                <option value="{{rol.name}}">{{rol.name}}</option>
                {% endfor %}
              </select>
            </div>

            <div class="col-12 d-grid mb-3">
              <button class="btn btn-success">Crear</button>
            </div>

            <div class="mb-12">
              {% if messages %}
              <ul class="messages">
                {% for message in messages %}
                <li
                  class="{% if message.tags == 'error' %}alert alert-danger {% elif message.tags == 'success' %}alert alert-success{% endif %}"
                  role="alert"
                >
                  {{ message }}
                </li>
                {% endfor %}
              </ul>
              {% endif %}
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  {% endblock %}
</body>
