{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facturas</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
<a href="{% url 'Ver_facturas' %}"></a>
    
{% for persona in personas %}

    <div>
        <H6>{{persona.title}}</H6>
        <P>{{persona.title}}</P>
        <form action="{% url 'Delete_factura' persona.id %}" method="post">
            {% csrf_token %}
            <button>Eliminar</button>
        </form>
    </div>

 {% empty %}
    <h1>No hay tarea</h1>
{% endfor %}

</body>
</html>