.gradient-custom {
    /* fallback for old browsers */
    background: #e9a1e5;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(175, 151, 201), rgb(166, 37, 252));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(108, 67, 151), rgb(119, 37, 252))
    }