{% extends "Base.html" %} {% load static %}
<head>
  <title>{% block title %} Factura {% endblock %}</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
</head>
<body>
  {% block content %}
  <div class="container">
    <div class="col-md-12">
      <h1 class="display-6">Modulo factura</h1>

      <div class="card card-body bg-secondary">
        <form action="{% url 'factura_detalle' %}" method="post">
          {% csrf_token %}

          <div class="card card-body bg-dark mb-2">
            <div class="row g-3">
              <div class="col-md-2">
                <input
                  type="text"
                  class="form-control"
                  id="metodo_pago"
                  name="metodo_pago"
                  value="{{factura_cabecera.metodo_de_pago.descripcion}}"
                  readonly
                />
              </div>
              <div class="col-md-6"></div>
              <div class="col-md-2">
                <label for="fecha_emision" class="form-label">Fecha:</label>
                <input
                  type="date"
                  class="form-control"
                  id="fecha_emision"
                  name="fecha_emision"
                  value="{{factura_cabecera.fecha}}"
                  readonly/>
              </div>
              <div class="col-md-2">
                <label for="tipo_factura" class="form-label"
                  >Tipo de factura</label
                >
                <input
                  type="text"
                  class="form-control"
                  value="{{factura_cabecera.tipo_factura.estado}}"
                  readonly
                />
              </div>

              <div class="col-2">
                <label for="ruc_cliente" class="form-label">RUC</label>
                <input
                  type="text"
                  class="form-control"
                  value="{{factura_cabecera.cliente.RUC}}"
                  readonly
                />
              </div>
              <div class="col-md-3">
                <label for="razon_social" class="form-label"
                  >Razon social</label
                >
                <input
                  type="text"
                  class="form-control"
                  value="{{factura_cabecera.cliente.razon_social}}"
                  readonly
                />
              </div>
              <div class="col-2"></div>
              <div class="col-md-3">
                <label for="num_factura" class="form-label">N° Factura</label>
                <div class="input-group mb-3">
                  <span class="input-group-text">N° Factura :</span>
                  <input
                    type="text"
                    class="form-control"
                    id="num_factura"
                    name="num_factura"
                    value="{{factura_cabecera.num_factura}}"
                    readonly
                  />
                </div>
              </div>
              <div class="col-md-2">
                <label for="timbrado_factura" class="form-label"
                  >Timbrado:</label
                >
                <input
                  type="text"
                  class="form-control"
                  value="{{factura_cabecera.timbrado}}"
                  readonly
                />
              </div>

              <div class="col-6">
                <label for="direccion_cliente" class="form-label"
                  >Dirección</label
                >
                <input
                  type="text"
                  class="form-control"
                  value="{{factura_cabecera.cliente.direccion}}"
                  readonly
                />
              </div>
              <div class="col-md-3">
                <label for="correo_cliente" class="form-label">Correo:</label>
                <input
                  type="text"
                  class="form-control"
                  value="{{factura_cabecera.cliente.correo}}"
                  readonly
                />
              </div>
              <div class="col-md-3">
                <label for="num_telefono" class="form-label">Telefono:</label>
                <input
                  type="text"
                  class="form-control"
                  value="{{factura_cabecera.cliente.num_telefono}}"
                  readonly
                />
              </div>

              {% if messages %}
              <ul class="messages">
                {% for message in messages %}
                <li
                  class="{% if message.tags == 'error' %}alert alert-danger {% elif message.tags == 'success' %}alert alert-success{% endif %}"
                  role="alert"
                >
                  {{ message }}
                </li>
                {% endfor %}
              </ul>
              {% endif %}

              <div class="col-md-3">
                <select id="cod_producto_id" name="cod_producto_id" required>
                  <option selected disabled value>
                    selecione articulo a añadir
                  </option>
                  {% for producto in productos %}
                  <option value="{{producto.producto.id}}">
                    {{producto.producto.cod_producto}},
                    {{producto.producto.descripcion}}
                  </option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-md-3">
                <button
                  id="anhadir_producto"
                  class="btn btn-sm btn-primary"
                  name="id_producto"
                >
                  Agregar
                </button>
              </div>
            </div>
          </div>
        </form>

        <div class="card card-body bg-light mb-2">
          <div class="col-12">
            
            <div style="max-height: 300px; overflow-y: scroll;">
              <table
                id="tabla_id"
                name="tabla_id"
                class="table table-striped bordered-dark table-secondary table-bordered"
              >
                <thead>
                  <tr>
                    <th scope="col" style="width: 3%">Cod.</th>
                    <th scope="col" style="width: 50%">Descripción</th>
                    <th scope="col" style="width: 2%">Cant.</th>
                    <th scope="col" style="width: 8%">Prec. Unit.</th>
                    <th scope="col" style="width: 2%">Desc.%</th>
                    <th scope="col" style="width: 8%">Total</th>
                    <th scope="col" style="width: 2%">Obs.</th>
                  </tr>
                </thead>
                <tbody>
                  {% for factu in facturas_detalles %}
                  <tr>
                    <td>{{factu.cod_producto.cod_producto}}</td>
                    <td>{{factu.cod_producto.descripcion}}</td>

                    {% csrf_token %}
                    <td>
                      <input
                        type="int"
                        name="cantidad_producto"
                        id="cantidad_producto_{{factu.cod_producto}}"
                        class="cantidad"
                        value="{{factu.cantidad}}"
                        size="1"
                      />
                    </td>
                    <td>
                      <input
                        type="hidden"
                        name="iva_producto"
                        class="iva"
                        value="{{total_iva}}"
                      />
                      <input
                        type="int"
                        class="precio_unit"
                        value="{{factu.cod_producto.precio_venta}}"
                        size="5"
                      />
                    </td>
                    <td>
                      <input
                        type="int"
                        name="descuento_producto"
                        class="descuento_prodcuto"
                        value="{{factu.descuento}}"
                        size="1"
                      />
                    </td>
                    <td>
                      <input
                        type="int"
                        name="total_producto_{{factu.cod_producto}}"
                        class="total_producto"
                        value="{{factu.total_precio}}"
                        size="5"
                      />
                    </td>
                    <td>
                      <form
                        action="{% url 'delete_factura' %}"
                        method="post"
                        id="eliminar_producto_{{factu.id}}"
                      >
                        {% csrf_token %}
                        <button
                          class="btn btn-sm btn-danger delete_button"
                          id="id_detalle"
                          name="id_detalle"
                          form="eliminar_producto_{{factu.id}}"
                          value="{{factu.id}}"
                        >
                          <i class="fa fa-solid fa-trash-o"></i>
                        </button>
                      </form>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>

            <table class="table table-striped bordered-dark table-secondary table-bordered">
              <tbody>
                <tr>
                  <td style="text-align: right; width: 1050px">Total de IVA%</td>
                  <td>
                    <input type="int" id="total_iva" value="{{total_iva}}" size="5"/>
                  </td>
                  <td style="width: 55px"></td>
                </tr>
                <tr>
                  <td style="text-align: right">Total de compra</td>
                  <td>
                      <input
                          type="int"
                          id="total_productos"
                          value="{{total_compra}}"
                          size="5"
                      />
                  </td>
                  <td></td>
              </tr>
              </tbody>
            </table>

            <form
              action="{% url 'finalizar_factura' %}"
              method="post"
              id="formu_finalizar"
            >
              {% csrf_token %}

              <input type="hidden" name="iva_prod" id="iva_prod" />
              <input type="hidden" name="desc_prod" id="desc_prod" />
              <input type="hidden" name="cant_prod" id="cant_prod" />

              <button
                id="finalizar_factura"
                class="btn btn-primary"
                form="formu_finalizar"
              >
                Finalizar
              </button>
            </form>

            <a
              id="cancelar_factura"
              class="btn btn-danger"
              href="{% url 'cancelar_factura' factura_cabecera.id %}"
              >Cancelar la facturacion</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    var fechaEmisionInput = document.getElementById("fecha_emision");
  
    var fechaActual = fechaEmisionInput.value;
  
    var partesFecha = fechaActual.split('-'); 
    var fechaFormateada = partesFecha[2] + '-' + partesFecha[1] + '-' + partesFecha[0]; 
  
    fechaEmisionInput.value = fechaFormateada;
  </script>

  <script src="{% static 'js/select2-producto.js' %}"></script>

  {% endblock %}
</body>
