{% extends "Base.html" %}

{% load static %}
<head>
  <title>{% block title %} Factura {% endblock %}</title>
</head>
<body>
  {% block content %}
  <div class="container">
  
    <div class="col-md-12">

      <h1 class="display-6">Modulo factura</h1> 

        <div class="card card-body bg-secondary">

          <form action="{% url 'Create_factura' %}" method="POST">

            {% csrf_token %}

            <div class="card card-body bg-dark mb-2">

              <div class="row g-3">

                <!---->
                <div class="col-md-2">
                  <select id="metodo_pago" class="form-select" name="metodo_pago" required>
                    <option selected disabled value>Met. Pago</option>
                    {% for metodo in metodos_pagos %}
                    <option value={{metodo.id}}>{{metodo.descripcion}}</option>
                    {% empty %}
                    <h4 class="text-center">No hay metodo</h4>
                    {% endfor %} 
                  </select>
                </div>
                <div class="col-md-6">
                </div>
                <div class="col-md-2">
                  <label for="fecha_emision" class="form-label">Fecha:</label>
                  <input type="date" class="form-control" id="fecha_emision" name="fecha_emision" value="{{fecha_fact}}" required>
                </div>
                <div class="col-md-2">
                  <label for="tipo_factura" class="form-label">Tipo de factura</label>
                  <select id="tipo_factura" class="form-select" name="tipo_factura" readonly>
                    {% for tipo in tipos_facturas %}
                    <option value="{{ tipo.id }}">{{ tipo.estado }}</option>
                    {% empty %}
                    <h4 class="text-center">No hay tipo</h4>
                    {% endfor %}
                  </select>
                </div>
                

                <div class="col-2">
                  <label class="form-label">RUC</label>
                  <select id="id_label_multiple" class="form-control" name="ruc_cliente" required>
                    <option selected disabled value>Ingrese el RUC</option>
                    {% for cliente in clientes %}
                    <option value={{cliente.RUC}} data-descripcion="{{ cliente.razon_social }}, {{cliente.direccion}}, {{cliente.correo}}, 
                    {{cliente.num_telefono}}, {{cliente.razon_social}}">{{cliente.RUC}}</option>
                    {% endfor %} 
                  </select>
                </div>
                <div class="col-md-3">
                <label for="razon_social" class="form-label">Razon social</label>
                <input type="text" class="form-control" id="razon_social" name="razon_social" required>
                </div>
                <div class="col-2">
                </div>
                <div class="col-md-3">
                  <label for="num_factura" class="form-label">N° Factura</label>
                  <div class="input-group mb-3">
                      <span class="input-group-text">N° Factura :</span>
                      <input type="text" class="form-control" id="num_factura" value="001-001-{{ultima_factura}}" name="num_factura" required>
                  </div>
                </div>
                <div class="col-md-2">
                  <label for="timbrado_factura" class="form-label ">Timbrado:</label>
                  <input type="text" class="form-control" id="timbrado_factura" name="timbrado_factura" value="{{timbrado}}" required>
                </div>
                
                <div class="col-6">
                <label for="direccion_cliente" class="form-label">Dirección</label>
                <input type="text" class="form-control" id="direccion_cliente" placeholder="1234 Main St" name="direccion_cliente">
                </div>
                <div class="col-md-3">
                  <label for="correo_cliente" class="form-label">Correo:</label>
                  <input type="email" class="form-control" id="correo_cliente" name="correo_cliente" aria-describedby="emailHelp">
                </div>
                <div class="col-md-3">
                  <label for="num_telefono" class="form-label">Telefono:</label>
                  <input type="text" class="form-control" id="num_telefono" name="num_telefono">
                </div>

                {% if messages %}
                  <ul class="messages">
                    {% for message in messages %}
                      <li class="{% if message.tags == 'error' %}alert alert-danger
                      {% elif message.tags == 'success' %}alert alert-success{% endif %}" role="alert">
                        {{ message }}
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
    

              </div>
            </div>
            
            <div class="col-12">
            <button type="submit" class="btn btn-primary">Facturar</button>
            </div>
            
          </form>

        </div>
      </div>    
    </div>
  </div>

  <script>
    // Obtén el elemento de entrada de fecha por su ID
    var fechaEmisionInput = document.getElementById("fecha_emision");
  
    // Obtén la fecha actual en el formato "YYYY-MM-DD"
    var fechaActual = new Date().toISOString().split('T')[0];
  
    // Asigna la fecha actual al campo de entrada de fecha
    fechaEmisionInput.value = fechaActual;
  </script>
  
  <script src="{% static 'js/select2-custom.js' %}"></script>
  {% endblock %}
  
</body>
</html>