{% extends "Base.html" %} {% load static %}
<head>
  <title>{% block title %} Facturas {% endblock %}</title>
</head>
<body>
  {% block content %}

  <div class="container">
    <div class="col-md-10 offset-md-1">
      <h1 class="display-6">Facturas</h1>

      <div class="card card-body bg-secondary">
        <div class="col-12">
          <form action="{% url 'listar_factura' %}" method="post">
            {% csrf_token %}
            <div class="row mb-3">
              <div class="col-md-3">
                <select
                  id="tipo_factura"
                  class="form-select"
                  name="tipo_factura"
                  readonly
                >
                  {% for tipo in tipos_facturas %}
                  <option value="{{ tipo.id }}">{{ tipo.estado }}</option>
                  {% empty %}
                  <h4 class="text-center">No hay tipo</h4>
                  {% endfor %}
                </select>
              </div>
              <div class="col-2">
                <input
                  type="text"
                  name="nombre_filter"
                  class="form-control"
                  placeholder="Buscar por N° Factura"
                />
              </div>
              <div class="col-3">
                <button type="submit" class="btn btn-primary">Filtrar</button>
              </div>
            </div>
          </form>

          <table class="table table-info table-bordered border-dark">
            <thead>
                <tr>
                    <th scope="col" style="width: 10%" class="bg-light">N° Fact.</th>
                    <th scope="col" style="width: 30%" class="bg-light">Cliente</th>
                    <th scope="col" style="width: 10%" class="bg-light">Fecha</th>
                    <th scope="col" style="width: 10%" class="bg-light">Total venta</th>
                    <th scope="col" style="width: 6%" class="bg-light">Opt.</th>
                </tr>
            </thead>
            <tbody>
                {% for factu in facturas %}
                  {% if factu.estado.estado == 'Inactivo' %}
                    <tr>
                      <td style="background-color: #ffcccc;">001-001-{{factu.num_factura}}</td>
                      <td style="background-color: #ffcccc;">{{factu.cliente.razon_social}}</td>
                      <td style="background-color: #ffcccc;">{{ factu.fecha|date:"d/m/Y" }}</td>
                      <td style="background-color: #ffcccc;">{{factu.total_venta}}</td>
                      <td style="background-color: #ffcccc;">
                  {% else %}
                    <tr>
                      <td>001-001-{{factu.num_factura}}</td>
                      <td>{{factu.cliente.razon_social}}</td>
                      <td>{{ factu.fecha|date:"d/m/Y" }}</td>
                      <td>{{factu.total_venta}}</td>
                      <td>
                  {% endif %}
                        <div class="btn-group">
                          <form action="{% url 'imprimir_factura' %}" method="POST" autocomplete="off">
                            {% csrf_token %}
                            <button class="btn btn-sm btn-primary" name="id_factura" value="{{factu.id}}">
                              <i class="fa-solid fa-print"></i>
                            </button>
                          </form>
                          <form id="anular_factura_form_{{ factu.id }}" action="{% url 'anular_factura' factura_id=factu.id %}" method="post">
                            {% csrf_token %}
                            <button class="btn btn-sm btn-danger" name="id_factura" value="{{ factu.id }}" onclick="return confirmarAnulacion('{{factu.id}}')" {% if factu.estado.estado == 'Inactivo' %}disabled{% endif %}>
                              <i class="fa-solid fa-ban"></i>
                            </button>
                          </form>
                        </div>
                      </td>
                    </tr>
                {% empty %}
                  <tr>
                    <td colspan="6">
                      <h3 class="text-center">No hay productos cargados</h3>
                    </td>
                  </tr>
                {% endfor %}
            </tbody>
        </table>
        

          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              {% if facturas.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?page=1">&laquo; first</a>
              </li>
              <li class="page-item">
                <a
                  class="page-link"
                  href="?page={{facturas.previous_page_number}}"
                  >previous</a
                >
              </li>
              {% endif %}

              <li class="page-item disabled">
                <span class="page-link"
                  >Page {{ facturas.number }} of
                  {{facturas.paginator.num_pages}}</span
                >
              </li>

              {% if facturas.has_next %}
              <li class="page-item">
                <a
                  class="page-link"
                  href="?page={{ facturas.next_page_number }}"
                  >next</a
                >
              </li>
              <li class="page-item">
                <a
                  class="page-link"
                  href="?page={{ facturas.paginator.num_pages }}"
                  >last &raquo;</a
                >
              </li>
              {% endif %}
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <script>
    // Función para mostrar un mensaje de confirmación al intentar anular una factura
    function confirmarAnulacion(idFactura) {
      if (confirm("¿Estás seguro de que deseas anular esta factura?")) {
        // Si el usuario hace clic en "Aceptar", envía el formulario
        document.getElementById("anular_factura_form_" + idFactura).submit();
      } else {
        // Si el usuario hace clic en "Cancelar", no hagas nada
        return false;
      }
    }
  </script>

  {% endblock %}
</body>
